<div class="ui header center aligned icon">
    <h1>Welcome to MessageMe - <em>A fun app to chat in</em></h1>
    <i class= "icon circular power off header blue"></i>
    <p>Log in to continue</p>
</div>
<%= render "form"%>
