<div class="content" id="message-board">
    <div class="ui feed" id= "message-display">
        <%= render @messages %>
    </div>
</div>
<div class="extra content">
    <%= form_with(model: @message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f|%>
        <div class="field">
            <div class="ui fluid icon input">
                <%= f.text_field :body, class: "ui input"%>
                <%= f.button class: 'ui tiny button primary' do %>
                    <i class="edit icon" id="send-button"></i>
                <% end %>

            </div>
        </div>
    <% end %>
</div>

