@import "semantic-ui";

.chatbox {
    height: 60vh;
}

.top{
    margin-top: 30px;
}

#message-board{
    height: 45vh;
    overflow: auto;
}

#chatroom-board{
    overflow: auto;
}

.message{
    overflow-wrap: anywhere;
}

.msg{
    color: grey !important;
}

.tiny{
    font-size: 0.8rem;
}

.event{
    margin-bottom: 10px;
}

.content.user.message{
    text-align: right;
}

#send-button{
    margin: 0
}

.ui.card.chatpreview{
    width: 100%;
}

#user {
    margin-top: 10px;
}

.center-aligned{
    display: flex !important;
    justify-content: center !important;
}

.chatroom-name{
    transition: background-color 0.5s, color 0.2s;
}

.chatroom-name:hover{
    color: whitesmoke;
    background-color: #0E6EB8 !important;
}

.time-ago{
    background: none !important;
    box-shadow: none !important;
    padding-bottom: 0 !important;
}
