@import "semantic-ui";

.chatbox {
    height: 60vh;
}

.top{
    margin-top: 30px;
}

#message-board{
    height: 45vh;
    overflow: auto;
}

#chatroom-board{
    overflow: auto;
}

.message{
    overflow-wrap: anywhere;
}

.msg{
    color: grey
}

.event{
    margin-bottom: 10px;
}

.content.user.message{
    text-align: right;
}

#send-button{
    margin: 0
}

.ui.card.chatpreview{
    width: 100%;
}

#user {
    margin-top: 10px;
}

.center-aligned{
    display: flex !important;
    justify-content: center !important;
}

.chatroom-options{
    padding: 50px
}
